services:
  cita-checker:
    image: bakayarou23/cita-checker:latest
    platform: linux/amd64
    ports:
      - "5901:5900"
      - "6080:80"
    environment:
      - RESOLUTION=1366x768
      - VNC_PASSWORD=root
    volumes:
      - ./cita-checker.py:/home/nonroot/cita-checker.py
      - ./values.json:/home/nonroot/values.json
